::selection {
    /*
     * hack to avoid these messages from showing up in the terminal: Couldn't set selectedTextBackgroundColor from default ()
     * see: https://github.com/electron/electron/issues/4420
     */
    background: rgba(70, 188, 223, 0.35);
}

/* color variables */
body {
    --color-tag-beta-fill: #dfe3e6;
    --color-tag-beta-text: #394b54;
    --color-tag-ibm-fill: #c0e6ff;
    --color-tag-ibm-text: #325c80;
    --color-stripe-01: #152935;
    --color-stripe-02: #0f212e;
    --color-text-01: #152934;
    --color-text-02: #5a6872;
    --color-support-01: #e71d32;
    --color-ok: #5aa700;
    --color-support-01: #e71d32;
    --color-support-02: #5aa700;
    --color-support-03: #efc100;
    --color-support-04: #5aaafa;
    --color-brand-01: #3d70b2;
    --color-brand-01-10: hsla(214, 49%, 47%, 0.1); /* 10% opacity */
    --color-brand-02: #5596e6;
    --color-ui-01: #fff;
    --color-ui-02: #f5f7fa;
    --color-ui-03: #f0f3f6;
    --color-ui-04: #dfe3e6;
    --color-ui-05: #8c9ba5;

    --font-sans-serif: ibm-plex-sans, sans-serif;
}

body {
    font-family: var(--font-sans-serif);
    background: var(--color-ui-01);
    color: var(--color-text-01);
}

body a {
    color: var(--color-brand-01);
}
body a:hover:not(.plain-anchor) {
    color: var(--color-support-04);
}

.header {
    background: var(--color-stripe-01);
    color: var(--color-ui-01);
    outline-color: var(--color-ui-05); /* outline, rather than border-bottom-color, to allow minimized sidecar to stay on top */
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);;
}
.header .application-icon {
    background-image: url('../../icons/svg/blue-dolphin.svg');
}
.header .application-name .bx--global-header__title--current-page {
    color: var(--color-support-04);
}

.repl-block.valid-response .ok, .green-text, .dragover .ok-text-on-dragover {
    color: var(--color-support-02);
}

.repl-block.valid-response .oops, sidecar.rule-enabled-false .sidecar-header-icon, .repl-block.error .oops, .clickable.oops, .oops .oops-text-on-oops, .red-text {
    color: var(--color-support-01);
}

sidecar.activation-success-false .sidecar-header-icon, span[data-extra-decoration="application error"] {
    color: rgba(227, 26, 28, 0.8);
}

.repl-block.processing .repl-input input {
    color: hsla(194, 71%, 40%, 1);
}

.repl-result-prefix, badge {
    background-color: hsl(203, 43%, 15%);
    color: rgba(255,255,255,0.8);
    font-family: var(--font-sans-serif);
}

.repl-result .entity:nth-child(2n+1) td, .repl-result .entity:nth-child(2n+1) .entity-attributes {
    /* table row striping */
    background:var(--color-ui-02);
}

sidecar {
    background:var(--color-ui-03);
    border-left-color: var(--color-ui-04);
}

sidecar .sidecar-header {
    border-bottom-color: var(--color-ui-04);
    background: var(--color-ui-02);
}

sidecar .sidecar-header badge {
    background-color: var(--color-tag-beta-fill);
    color: var(--color-tag-beta-text);
}

sidecar .sidecar-header badge.version {
    /* badge for action version */
    background-color: var(--color-tag-ibm-fill);
    color: var(--color-tag-ibm-text);
}

badge.clickable:hover {
    background: hsl(203, 43%, 25%);
    text-decoration: none;
    var(--color-ui-01);
}

.result-table .repl-result, .result-table.repl-result {
    border-color: var(--color-ui-04);
    background: var(--color-ui-01);
}

.entity.actions.app .repl-result-prefix {
    color: hsla(275, 41%, 32%, 1);
}
.entity.activations.is-sequence-true .repl-result-prefix {
    color: hsla(12, 45%, 45%, 1);
}
.entity .repl-result-prefix, .entity .border-right {
    color: var(--color-text-01);
    border-right-color: var(--color-ui-04);
}
.entity.actions.sequence .repl-result-prefix {
    color: hsla(265, 87%, 26%, 1);
}
.entity.packages .repl-result-prefix {
    color: hsla(275, 21%, 22%, 1)
}

/* sidecar bottom stripe */
.sidecar-bottom-stripe {
    color: hsla(240, 2%, 90%, 1);
    background: var(--color-stripe-02);
    box-shadow: 0 -1px 3px rgba(0,0,0,0.25);
}

.sidecar-bottom-stripe .sidecar-bottom-stripe-button.sidecar-bottom-stripe-button-active {
    border-bottom-color: var(--color-brand-02);
}
.sidecar-bottom-stripe .sidecar-bottom-stripe-button:not(.sidecar-bottom-stripe-button-active):hover, .sidecar-bottom-stripe .sidecar-bottom-stripe-button.hover, .sidecar-bottom-stripe-button-as-button.selected {
    color: var(--color-brand-02);
}

sidecar .header-right-bits {
    color: hsla(201, 22%, 10%, 1);
}

sidecar .sidecar-header-icon {
    color: var(--color-brand-02);
}

sidecar .sidecar-header-name .package-prefix {
    color: var(--color-text-02);
}

.sequence-component {
    background-color: var(--color-ui-05);
    border-color: rgba(255,255,255,0.3);
}

.header .clickable:hover {
    color: var(--color-support-04);
}
.clickable:hover, .entity.actions:hover .entity-name {
    color: var(--color-brand-01);
}

.graphical-clickable:hover {
    filter: brightness(1.25);
}

.help-option:hover {
    color: #3E6550;
}

.help-option:hover .help-option-left-column {
    border-left-color: rgba(62, 101, 80, 0.2);
}

.log-lines .log-line .log-line-bar.is-waitTime, .legend-icon.is-waitTime {
    background: var(--color-ui-05);
}
.log-lines .log-line .log-line-bar.is-initTime.is-success-true, .legend-icon.is-initTime {
    /*background: var(--color-support-04);*/
    background: repeating-linear-gradient(
      -45deg,
      var(--color-support-02),
      var(--color-support-02) 2px,
      #bee195 2px,
      #bee195 4px
    );
    filter: grayscale(0.25) saturate(0.75);
}
.log-lines .log-line .log-line-bar.is-initTime.is-success-false{
    /*background: var(--color-support-04);*/
    background: repeating-linear-gradient(
      to right,
      var(--color-support-01),
      var(--color-support-01) 4px,
      white 4px,
      white 8px
    );
}

.log-lines .log-line .log-line-bar.is-success-true, .legend-icon.is-runTime {
    background: var(--color-support-02);
}
.log-lines .log-line .log-line-bar.is-success-false, .legend-icon.is-success-false {
    background: var(--color-support-01);
}
.log-lines .log-line.log-line-root .log-line-bar {
    background: #f3f3f3;
    border-color: rgba(0,0,0,0.5);
}
.log-lines .log-line .log-line-bar.log-line-bar-conductor {
    background: #666;
}
.log-lines .log-line .log-message {
    border-left-color: black;
}
.log-lines-message-for-activations {
    font-family: var(--font-sans-serif);
}
.log-lines .log-line.logged-to-stderr .log-message {
    /* special display for messages of error log lines */
    color: hsla(12, 78%, 25%, 1);
    border-color: hsl(12, 78%, 45%);
}

body.subwindow .repl-block {
    background-color: transparent;
}
body.subwindow sidecar {
    background: var(--color-ui-01);
}

#restart-needed-warning {
    background-color: var(--color-stripe-01);
    var(--color-ui-01);
}

.page [data-balloon]:after {
    font-family: var(--font-sans-serif);
}

#wskflowSVG .node.leaf rect {
    stroke: var(--color-text-01) !important;
}
#wskflowSVG .node.leaf rect {
    stroke: var(--color-text-01) !important;
}
#wskflowSVG .action[data-deployed="deployed"] rect, #wskflowSVG .function:not([data-status]) rect {
    fill: hsla(210, 94%, 67%, 1) !important;
}
#wskflowSVG .action[data-deployed="deployed"] rect:hover, #wskflowSVG .function:not([data-status]) rect:hover {
    fill: hsla(210, 94%, 57%, 1) !important;
}
#wskflowSVG .action[data-deployed="not-deployed"] rect {
    fill: var(--color-ui-04) !important;
}


/* sans 300 */
@font-face {
    font-family: ibm-plex-sans;
    font-style: normal;
    font-weight: 300;
    src: url('../../fonts/IBMPlexSans-Light-Latin1.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+20AC, U+2122, U+2212, U+FB01-FB02;
}
@font-face {
    font-family: ibm-plex-sans;
    font-style: normal;
    font-weight: 300;
    src: url('../../fonts/IBMPlexSans-Light-Latin2.woff2') format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF, U+FB01-FB02;
}
@font-face {
    font-family: ibm-plex-sans;
    font-style: normal;
    font-weight: 300;
    src: url('../../fonts/IBMPlexSans-Light-Latin3.woff2') format('woff2');
    unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
@font-face {
    font-family: ibm-plex-sans;
    font-style: normal;
    font-weight: 300;
    src: url('../../fonts/IBMPlexSans-Light-Pi.woff2') format('woff2');
    unicode-range: U+03C0, U+0E3F, U+2070, U+2074-2079, U+2080-2089, U+2113, U+2116, U+2126, U+212E, U+2150-2151, U+2153-215E, U+2190-2199, U+21A9-21AA, U+21B0-21B3, U+21B6-21B7, U+21BA-21BB, U+21C4, U+21C6, U+2202, U+2206, U+220F, U+2211, U+221A, U+221E, U+222B, U+2248, U+2260, U+2264-2265, U+25CA, U+2713, U+274C, U+2B0E-2B11, U+EBE1, U+EBE3-EBE4, U+EBE6-EBE7, U+ECE0, U+EFCC;
}

/* sans 400 */
@font-face {
    font-family: ibm-plex-sans;
    font-style: normal;
    font-weight: 400;
    src: url('../../fonts/IBMPlexSans-Regular-Latin1.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+20AC, U+2122, U+2212, U+FB01-FB02;
}
@font-face {
    font-family: ibm-plex-sans;
    font-style: normal;
    font-weight: 400;
    src: url('../../fonts/IBMPlexSans-Regular-Latin2.woff2') format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF, U+FB01-FB02;
}
@font-face {
    font-family: ibm-plex-sans;
    font-style: normal;
    font-weight: 400;
    src: url('../../fonts/IBMPlexSans-Regular-Latin3.woff2') format('woff2');
    unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
@font-face {
    font-family: ibm-plex-sans;
    font-style: normal;
    font-weight: 400;
    src: url('../../fonts/IBMPlexSans-Regular-Pi.woff2') format('woff2');
    unicode-range: U+03C0, U+0E3F, U+2070, U+2074-2079, U+2080-2089, U+2113, U+2116, U+2126, U+212E, U+2150-2151, U+2153-215E, U+2190-2199, U+21A9-21AA, U+21B0-21B3, U+21B6-21B7, U+21BA-21BB, U+21C4, U+21C6, U+2202, U+2206, U+220F, U+2211, U+221A, U+221E, U+222B, U+2248, U+2260, U+2264-2265, U+25CA, U+2713, U+274C, U+2B0E-2B11, U+EBE1, U+EBE3-EBE4, U+EBE6-EBE7, U+ECE0, U+EFCC;
}

/* sans 600 */
@font-face {
    font-family: ibm-plex-sans;
    font-style: normal;
    font-weight: 600;
    src: url('../../fonts/IBMPlexSans-SemiBold-Latin1.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+20AC, U+2122, U+2212, U+FB01-FB02;
}
@font-face {
    font-family: ibm-plex-sans;
    font-style: normal;
    font-weight: 600;
    src: url('../../fonts/IBMPlexSans-SemiBold-Latin2.woff2') format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF, U+FB01-FB02;
}
@font-face {
    font-family: ibm-plex-sans;
    font-style: normal;
    font-weight: 600;
    src: url('../../fonts/IBMPlexSans-SemiBold-Latin3.woff2') format('woff2');
    unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
@font-face {
    font-family: ibm-plex-sans;
    font-style: normal;
    font-weight: 600;
    src: url('../../fonts/IBMPlexSans-SemiBold-Pi.woff2') format('woff2');
    unicode-range: U+03C0, U+0E3F, U+2070, U+2074-2079, U+2080-2089, U+2113, U+2116, U+2126, U+212E, U+2150-2151, U+2153-215E, U+2190-2199, U+21A9-21AA, U+21B0-21B3, U+21B6-21B7, U+21BA-21BB, U+21C4, U+21C6, U+2202, U+2206, U+220F, U+2211, U+221A, U+221E, U+222B, U+2248, U+2260, U+2264-2265, U+25CA, U+2713, U+274C, U+2B0E-2B11, U+EBE1, U+EBE3-EBE4, U+EBE6-EBE7, U+ECE0, U+EFCC;
}
